@media (max-width: 767px){
    .navbar .navbar-brand{
        width: 100%;
    }

    .navbar-toggler{ 
        float: left;
        font-size: large;
        top: -3px;
        border-radius: 0px;
    }

    .my-div-right{
        margin-left: 100px;
        margin-top: 10px;
    }

    .page-footer{
        bottom:auto:;
    }

    #iconos{
        margin-bottom: -140px;
    }

}